link(href='/css/categories.css', rel='stylesheet')

div.categories
  ul.items
    each category in categories
      li
        div.title
         a(href=category.slug) #{category.name}
        div.arrow >
      
